
<div class="container" style="margin-top: 100px">
    <div class="form-group col-md-4">
        <input type="search" class="form-control" id="search">
    </div>
    <h2>Basic Table</h2>
    <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Upload at</th>
            <th>Path</th>
            <th>Original name</th>
            <th>Size</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files.data">
            <th>{{file.id}}</th>
            <th>{{file.created_at}}</th>
            <th>{{file.path}}</th>
            <th>{{file.name}}</th>
            <th>{{file.size}}</th>
            <th>
                <a type="button" href="{{file.path}}" download="{{file.path}}" class="btn btn-success" ng-click="">Download</a>
            </th>
            <th>
                <button type="button" class="btn btn-danger" ng-click="destroy(file.id)">Delete</button>
            </th>
        </tr>
        </tbody>
    </table>
</div>
