
<div class="container" style="margin-top: 100px">
    <div class="form-group col-md-4">
        <input ng-model="searchText" type="search" class="form-control" id="search">
    </div>
    <h2>Files Table</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Upload at</th>
            <th>Path</th>
            <th>Original name</th>
            <th>Size</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in files.data | filter:searchText">
            <th>{{file.id}}</th>
            <th>{{file.created_at}}</th>
            <th>{{file.path}}</th>
            <th>{{file.original_name}}</th>
            <th>{{file.size | bytes}}</th>
            <th>
                <!--<a type="button" target="_blank" href="http://backend.dev/api/files/download/{{file.id}}" class="btn btn-success" ng-click="">Download</a>-->
                <button type="button" class="btn btn-success" ng-click="downloadFile(file.id, file.original_name)" style="cursor: pointer">Download</button>
            </th>
            <th>
                <button type="button" class="btn btn-danger" ng-click="deleteFile(file.id)" style="cursor: pointer">Delete</button>
            </th>
        </tr>
        </tbody>
    </table>
</div>
